main {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.popup {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}