{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>{{ name }}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {{ name | json_script:"pn" }}

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-between">
        <a class="navbar-brand tit" href="{% url 'home' %}"></a>
        {% if user.is_authenticated %}
            <span><a href="{% url 'logout' %}" style="color:black" class="nav-link">Logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}" style="color:black" class="nav-link">Login</a></span>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock content %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% if request.user.is_admin %}
        <script src="{% static 'js/app.js' %}"></script>
    {% elif request.user.is_team_leader %}
        <script src="{% static 'js/app2.js' %}"></script>
    {% elif request.user.is_annotator %}
        <script src="{% static 'js/app2.js' %}"></script>
    {% endif %}
</body>
</html>